/* Login */


.loginpadding {
    padding-top: 5em;
}
.errorhandling {
    margin-top: 1em;
    padding: 0.3em;
    color: white;
}

.errorHandlingResting {
    background: white;
}

.errorhandlingActive {
    background: red;
}

.confirmed {
    background: white;
    color: white;
    font-size: 1.4em;
    padding: 1em;
}

.confirmedProfile {
    background: green;
}

.map {
    height: 200px;
    display: block;
}
 .specialButton {
    position: absolute;
    top: 10px;
}

.paddingtop {
    padding-top: 2em;
}
