.backcol {
    background: #16a085;
    color: white;
    height: 2.7em;
    padding-top: 1em;
}

.floatright {
    float: right;
}

#logo {
    font-size: 1.6em;
    font-weight:200;
}

.paddingtop {
    padding-top: 3.5em;
}

.custombutton {
    width: 80%;
    background: #16a085;
    border: 0px;
    font-weight: 300;
    margin-top: .1em;
    border-radius: 0;
}

.frontbutton:first-child {
    margin-top: 1em;   
}
.frontbutton:hover {
    background: #16a085;
}

.hidden {
    background: white !important;
    border: none;
    height: 2em;
}

.visible {
    background: #bf2f2f !important;
    border: none;
}

.passchange {
    background: #0dc672 !important;
    border: none;    
}

.paddingLess {
    padding-top: 1.7em;
}

.regbutton {
    height: 2em;
    width: 100%;
    border-radius: 0;
    color: white;
    background: #16a085;
    border: none;
    font-size: 1.2em;
    margin-top: 3em;
}


h2 {
    font-weight: 100;  
}
.map {
    display: block;
    height: 200px;
}

.nostyle {
    list-style: none;
}

.navhome {
    background: #16a085; 
    height: 70px; 
    padding-top: 1.5em; 
    color: white; 
    font-weight: 200;
}

.navhome:last-child {
    background: #24e6c0;   
}


.height10 {
    height: 30%;
}
