
<div class="row backcol text-center" id="logo">
    <div class="small-2 columns" ng-click="logout()">
        <i class="fi-x"></i>
    </div>
    <div class="small-8 columns">
        <span>WhenIn {{ findmeh.results[2].address_components[0].long_name }} </span>
    </div>
    <div class="small-2 columns">
        <i class="fi-torso" ng-click='userprofile()'></i>
    </div>
</div>
 
<google-map class="map" center="center" draggable="false" zoom="zoom" markers="markers" mark-click="true"></google-map>

<div class="row text-center">
    <div class="small-6 columns navhome" ng-click="addquestion()">
    Add a question
    </div>
    
    <div class="small-6 columns navhome" ng-click="allquestions()">
    Other questions
    </div>
</div>


<div class="row text-center" style="padding-top: 2em;">
    <h2> Hi, {{ user.attributes.name }}!</h2>
    
    <span>You are currently near:</span>
    <div><strong> {{ findmeh.results[0].formatted_address }} </strong></div>
</div>

