<div class="row backcol text-center"  id="logo">
    <div class="small-12 large-12 columns">
        <span>WhenIn</span>
    </div>
</div>

<div class="small-10 small-centered columns text-center paddingtop">
    G'day! Oh, and welcome! This is WhenIn, please log in. Or register if you haven't gotten an account yet.
</div>


<div class="small-10 small-centered columns text-center paddingtop">
    
    <form>
        <div class="row collapse">
            <label>Username</label>
            <div class="small-12 columns">
                <input type="text" autocapitalize="off" name="username" class="text-center" ng-model="credentials.username" required>
            </div>
        </div>
    
        <div class="row collapse">
            <label>Password</label>
            <div class="small-12 columns">
                <input type="password" name="password" class="text-center" ng-model="credentials.password" required>
            </div>
           
        </div>
         <div ng-model="alerts" class="alert-box alert {{ alerts.newClass }}">{{ alerts.message }} </div>
        <div class="paddingLess">
            <button class="button custombutton" value="login" ng-click="login()">Log in</button>    
        </div>
          <span ng-click="register()">Don't have an account?</span>
        
    </form>
</div>
