 <div class="row backcol text-center" id="logo">
        <div class="small-2 columns" ng-click="goback()">
            <i class="fi-arrow-left"></i>
        </div>
        <div class="small-8 columns">
            <span>Register</span>
        </div>
        <div class="small-2 columns">
            
        </div>
</div>

<div class="row">
    <div class="small-10 small-centered columns text-center paddingLess">
         <h2>Registration</h2>
        
        <form ng-model="signupform">
            <label for="name">Username:</label>
            <input type="text" autocapitalize="off" class="text-center" placeholder="mark_123" ng-model="register.username" />
            
            <label for="name">Real name:</label>
            <input type="text" autocapitalize="off" class="text-center" placeholder="Marky Mark" ng-model="register.name" />
            
            
            <label for="email">Email:</label>
            <input type="email" class="text-center" placeholder="mark.wahlberg@mw.com" ng-model="register.mail" />
            
            <label for="password">Password:</label>
            <input type="password" class="text-center" ng-model="register.password" />
                        
            <button class="custombutton" ng-click="signup(register)">Register</button>
        </form>
    </div>
</div>